<header class="header">
  <h1 class="site-title">
    <span class="initial-name">F</span
    ><span class="then-name">auzan's Blog</span>
  </h1>
  <nav class="{{include.navclass}}">
    <ul>
      <li>
        <a
          class="{% if page.url == '/' %}current{% endif %}"
          href="{{site.baseurl}}/index.html"
          >Home</a
        >
      </li>
      <li>
        <a
          class="{% if page.url == '/about.html' %}current{% endif %}"
          href="{{site.baseurl}}/about.html"
          >About</a
        >
      </li>
      <li>
        <a
          class="{% if page.url == '/page.html' %}current{% endif %}"
          href="{{site.baseurl}}/page.html"
          >Page</a
        >
      </li>
    </ul>
  </nav>
</header>
