<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title | default: site.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Lora&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{site.baseurl}}/css/common.css" />
    <style></style>
  </head>
  <body>
    {% include header.html %}

    <div class="row">
      <div class="column side"></div>
      <div class="column middle">
        {{ content }}
      </div>
      <div class="column left"></div>
    </div>
    {% include footer.html %}
  </body>
</html>
